# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:
* Markdowns
* Languages of Data Science
* libraries used in dataScience
### Author <br>
    Ismail

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. java

### Some of the commonly used libraries used by Data Scientists include:
1. Scikit learn
2. Tensorflow
3. Pytorch

| Data Science Tools |
| :-----------------:|
|   Jupyter Notebook |
|    RStudio         |
|   Spyder           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple rithmetic expression to multiply and then add integers
(3*4) + 5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335